@import 'variables';

body {
    background: $background-color;
    color: #fff;
    padding-top: 50px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.koek {
    background: $background-color;
}